Library/
Logs/
Temp/
Assets/GleyPlugins/About.meta
Assets/GleyPlugins/Notifications.meta
Assets/GleyPlugins/About/Editor.meta
Assets/GleyPlugins/About/Editor/AssetState.cs
Assets/GleyPlugins/About/Editor/AssetState.cs.meta
Assets/GleyPlugins/About/Editor/AssetStorePackage.cs
Assets/GleyPlugins/About/Editor/AssetStorePackage.cs.meta
Assets/GleyPlugins/About/Editor/AssetVersion.cs
Assets/GleyPlugins/About/Editor/AssetVersion.cs.meta
Assets/GleyPlugins/About/Editor/AssetVersions.cs
Assets/GleyPlugins/About/Editor/AssetVersions.cs.meta
Assets/GleyPlugins/About/Editor/EditorFileLoader.cs
Assets/GleyPlugins/About/Editor/EditorFileLoader.cs.meta
Assets/GleyPlugins/About/Editor/GleyAboutWindow.cs
Assets/GleyPlugins/About/Editor/GleyAboutWindow.cs.meta
Assets/GleyPlugins/About/Editor/GleyAssets.cs
Assets/GleyPlugins/About/Editor/GleyAssets.cs.meta
Assets/GleyPlugins/About/Editor/Icons.meta
Assets/GleyPlugins/About/Editor/Icons/AchievementsIcon.png
Assets/GleyPlugins/About/Editor/Icons/AchievementsIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/CrossPromoIcon.png
Assets/GleyPlugins/About/Editor/Icons/CrossPromoIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/DailyRewardsIcon.png
Assets/GleyPlugins/About/Editor/Icons/DailyRewardsIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/EasyIAPIcon.png
Assets/GleyPlugins/About/Editor/Icons/EasyIAPIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/FacebookIcon.png
Assets/GleyPlugins/About/Editor/Icons/FacebookIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/GleyCover.png
Assets/GleyPlugins/About/Editor/Icons/GleyCover.png.meta
Assets/GleyPlugins/About/Editor/Icons/GleyLogo.png
Assets/GleyPlugins/About/Editor/Icons/GleyLogo.png.meta
Assets/GleyPlugins/About/Editor/Icons/LocalizationIcon.png
Assets/GleyPlugins/About/Editor/Icons/LocalizationIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/MobileAdsIcon.png
Assets/GleyPlugins/About/Editor/Icons/MobileAdsIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/MobileToolsIcon.png
Assets/GleyPlugins/About/Editor/Icons/MobileToolsIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/NotificationsIcon.png
Assets/GleyPlugins/About/Editor/Icons/NotificationsIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/RateGameIcon.png
Assets/GleyPlugins/About/Editor/Icons/RateGameIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/SaveIcon.png
Assets/GleyPlugins/About/Editor/Icons/SaveIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/TwitterIcon.png
Assets/GleyPlugins/About/Editor/Icons/TwitterIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/VehiclesIcon.png
Assets/GleyPlugins/About/Editor/Icons/VehiclesIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/WebsiteIcon.png
Assets/GleyPlugins/About/Editor/Icons/WebsiteIcon.png.meta
Assets/GleyPlugins/About/Editor/Icons/YoutubeIcon.png
Assets/GleyPlugins/About/Editor/Icons/YoutubeIcon.png.meta
Assets/GleyPlugins/Notifications/Documentation.meta
Assets/GleyPlugins/Notifications/Example.meta
Assets/GleyPlugins/Notifications/Resources.meta
Assets/GleyPlugins/Notifications/Scripts.meta
Assets/GleyPlugins/Notifications/Documentation/Gley-MobilePushNotifications-Documentation.pdf
Assets/GleyPlugins/Notifications/Documentation/Gley-MobilePushNotifications-Documentation.pdf.meta
Assets/GleyPlugins/Notifications/Example/TestIcons.meta
Assets/GleyPlugins/Notifications/Example/TestNotifications.cs
Assets/GleyPlugins/Notifications/Example/TestNotifications.cs.meta
Assets/GleyPlugins/Notifications/Example/TestNotifications.unity
Assets/GleyPlugins/Notifications/Example/TestNotifications.unity.meta
Assets/GleyPlugins/Notifications/Example/TestIcons/Large-Icon.png
Assets/GleyPlugins/Notifications/Example/TestIcons/Large-Icon.png.meta
Assets/GleyPlugins/Notifications/Example/TestIcons/Small-Icon.png
Assets/GleyPlugins/Notifications/Example/TestIcons/Small-Icon.png.meta
Assets/GleyPlugins/Notifications/Resources/NotificationSettingsData.asset
Assets/GleyPlugins/Notifications/Resources/NotificationSettingsData.asset.meta
Assets/GleyPlugins/Notifications/Scripts/Constants.cs
Assets/GleyPlugins/Notifications/Scripts/Constants.cs.meta
Assets/GleyPlugins/Notifications/Scripts/Editor.meta
Assets/GleyPlugins/Notifications/Scripts/GleyNotifications.cs
Assets/GleyPlugins/Notifications/Scripts/GleyNotifications.cs.meta
Assets/GleyPlugins/Notifications/Scripts/NotificationManager.cs
Assets/GleyPlugins/Notifications/Scripts/NotificationManager.cs.meta
Assets/GleyPlugins/Notifications/Scripts/NotificationSettings.cs
Assets/GleyPlugins/Notifications/Scripts/NotificationSettings.cs.meta
Assets/GleyPlugins/Notifications/Scripts/Version.txt
Assets/GleyPlugins/Notifications/Scripts/Version.txt.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport.meta
Assets/GleyPlugins/Notifications/Scripts/Editor/SettingsWindow.cs
Assets/GleyPlugins/Notifications/Scripts/Editor/SettingsWindow.cs.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/PlaymakerSupport.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/AppWasOpenFromNotification.cs
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/AppWasOpenFromNotification.cs.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/Editor.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/InitializeNotifications.cs
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/InitializeNotifications.cs.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/SendNotification.cs
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/SendNotification.cs.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/Editor/AppWasOpenFromNotificationEditor.cs
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/Editor/AppWasOpenFromNotificationEditor.cs.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/Editor/InitializeNotificationsEditor.cs
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/Editor/InitializeNotificationsEditor.cs.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/Editor/SendNotificationEditor.cs
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/GameFlowSupport/Editor/SendNotificationEditor.cs.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/PlaymakerSupport/AppWasOpenFromNotification.cs
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/PlaymakerSupport/AppWasOpenFromNotification.cs.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/PlaymakerSupport/InitializeNotifications.cs
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/PlaymakerSupport/InitializeNotifications.cs.meta
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/PlaymakerSupport/SendNotification.cs
Assets/GleyPlugins/Notifications/Scripts/VisualScriptingSupport/PlaymakerSupport/SendNotification.cs.meta
Assets/GleyPlugins.meta
